{% extends 'core/base.html'%}
{% block content%}
<div class="container">
    <h1 class="text-warning mt-5 border-bottom"> SKILL</h1>
    <div class="row text-white">
        <div class="col-sm-5 mt-5" >
            <h3>HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%" 
                   role="progressbar" aria-valuenow="100" aria-valuemin="0" 
                   aria-valuemin="0">80%
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2 mt-5">
            <h3>Core java</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" 
                   style="width: 80%" 
                   role="progressbar" aria-valuenow="95" aria-valuemin="0" 
                   aria-valuemin="0">80%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-5">
            <h3>Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 70%" 
                   role="progressbar" aria-valuenow="70%" aria-valuemin="0" 
                   aria-valuemin="0">70%
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2 mt-5">
            <h3>Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" 
                   style="width: 60%" 
                   role="progressbar" aria-valuenow="65" aria-valuemin="0" 
                   aria-valuemin="0">60%
                </div>
            </div>
        </div>
        <div class="col-sm-5 mt-5">
            <h3>Bootstrap</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " 
                   style="width: 70%" 
                   role="progressbar" aria-valuenow="65" aria-valuemin="0" 
                   aria-valuemin="0">70%
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2 mt-5">
            <h3>c</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" 
                   style="width: 60%" 
                   role="progressbar" aria-valuenow="50" aria-valuemin="0" 
                   aria-valuemin="0">60%
                </div>
            </div>
        </div>
       
       
        </div>
    </div>
</div>
{% endblock %}